body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f7f7f;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/aperture-vintage-Z6EpCdMcoUU-unsplash.jpg);
    background-position: center;
    background-size:cover;
}

div {
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-div {
    box-shadow:
    0 0 5px 5px #fff,
    0 0 10px 10px #1c24e9;
}

.inner-div {
    width: 215px;
    height: 215px;
    border: 5px solid white;
}

#fortune-div {
    background-color: #1c24e9;
    width: 180px;
    height: 180px;
    text-align: center;
}

#fortune-div:hover {
    cursor: pointer;
}

p {
    color: white;
    overflow-wrap: break-word;
    border-radius: 50%;
}

.galaxy-background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 0;
    background-position: top center;
}

@media (max-width: 400px) {
    div {
        width: 350px;
        height: 350px;
    }
}